<!-- GENERAL -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="requestModalLabel">¡Dinos qué seguro necesitas y te contactaremos inmediatamente!</h4>
      </div>
      <%= form_tag ('/insurance_requests'), remote: true, id: 'new-request-form' do %>
        <div class="modal-body">
          <div id="request-error"></div>
          <!-- TIPO DE SEGURO -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-12">
							<h4>¿Qué tipo de seguro necesitas? Puedes seleccionar varios!</h4>
              <label class="checkbox-inline" id="li_check_label" style="width: 30%;">
                <input type="checkbox" id="li_check" name="request[]" value="Vida" onclick="javascript:insuranceTypeCheck('li');">
                Vida <i class="fa fa-heart-o" aria-hidden="true"></i>
              </label>
              <label class="checkbox-inline" id="ci_check_label" style="width: 30%;">
                <input type="checkbox" id="ci_check" name="request[]" value="Automóvil" onclick="javascript:insuranceTypeCheck('ci');">
                Automóvil <i class="fa fa-car" aria-hidden="true"></i>
              </label>
              <label class="checkbox-inline" id="fi_check_label" style="width: 30%;">
                <input type="checkbox" id="fi_check" name="request[]" value="Incendio" onclick="javascript:insuranceTypeCheck('fi');">
                Incendio <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
              </label>
						</div>
					</div><!-- TIPO DE SEGURO -->
          <br>
          <!-- CONTACTO -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-12">
							<h4>¿Cómo te gustaría ser contactado?</h4>
              <!-- Llamada -->
              <label class="radio-inline" id="contact_via_1_label" style="width: 44%;">
                <input type="radio" name="contact_via_check" id="via_1" value="" onclick="javascript:contactViaCheck('1');"> Llamada a mi teléfono
              </label>

              <!-- WhatsApp -->
              <label class="radio-inline" id="contact_via_2_label" style="width: 25%;">
                <input type="radio" name="contact_via_check" id="via_2" value="" onclick="javascript:contactViaCheck('2');"> WhatsApp
              </label>

              <!-- Email -->
              <label class="radio-inline" id="contact_via_3_label" style="width: 25%;">
                <input type="radio" name="contact_via_check" id="via_3" value="" onclick="javascript:contactViaCheck('3');"> Email
              </label>
						</div>
					</div><!-- CONTACTO -->
          <br>
          <!-- VIA_1 -->
          <div id="if_via_1" class="form-group row col-md-12" style="float:none; display:none">
            <div class="col-md-9">
  						<h4>¿A qué número te podemos llamar?</h4>
  						<input type="text" name="contact_via[]" class="form-control" placeholder="+305 555 555 55 55">
            </div>
					</div><!-- VIA_1 -->

          <!-- VIA_2 -->
          <div id="if_via_2" class="form-group row col-md-12" style="float:none; display:none">
            <div class="col-md-9">
  						<h4>¿A qué número te podemos escribir?</h4>
  						<input type="text" name="contact_via[]" class="form-control" placeholder="+305 555 555 55 55">
            </div>
					</div><!-- VIA_2 -->

          <!-- VIA_3 -->
          <div id="if_via_3" class="form-group row col-md-12" style="float:none; display:none">
            <div class="col-md-9">
              <h4>¿A qué correo te podemos escribir?</h4>
              <input type="text" name="contact_via[]" class="form-control" placeholder="esmasseguro@ejemplo.com">
            </div>
					</div><!-- VIA_3 -->
          <br>
          <!-- NOMBRE -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Para contactarte vamos a necesitar tu nombre</h4>
							<input type="text" name="name" class="form-control" placeholder="Hola mi nombre es...">
						</div>
					</div><!-- NOMBRE -->
          <br>
          <!-- MENSAJE -->
          <div class="form-group row col-md-12" style="float:none">
						<div class="col-md-10">
							<h4>Si tienes algún comentario déjalo por aquí</h4>
							<textarea name="message" cols="30" rows="3" class="form-control" placeholder="Escribe tu mensaje por aquí"></textarea>
						</div>
					</div><!-- MENSAJE -->
          <br>
          <div id="request-error-2"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= button_tag(type: :submit, class: "btn btn-primary") do %>
            Enviar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div><!-- GENERAL -->

<!-- EXITO -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="successModalLabel">Solicitud enviada ¡Gracias!</h4>
      </div>

      <div class="modal-body">
        <div class="row col-md-12" style="float:none">
          <div class="col-md-12">
            <h3 style="text-align:center;">¡Estamos felices de que hayas realizado tu solicitud con nosotros!</h3>
            <br>
            <h4 style="line-height:1.5;">Procesaremos tu solicitud inmediatament y en unos minutos te estaremos contactando por la vía indicada.</h4>
            <h4 style="line-height:1.5;">Te invitamos a que sigas explorando las otras opciones que tenemos para ti, si tienes alguna pregunta no dudes en contactarnos.</h4>
            <br>
            <br>
            <h4 style="text-align:center;">Con nosotros te sentiras +Seguro.</h4>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div><!-- EXITO -->
