<!-- TIPO DE SEGURO -->
<div class="form-group row col-md-12" style="float:none">
	<div class="col-md-12">
		<h4>¿Qué tipo de seguro necesitas? Puedes seleccionar varios!</h4>
    <label class="checkbox-inline" id="hi_check_label" style="width:35%; margin-left:0;">
      <input  type="checkbox"
              id="hi_check"
              name="request[]"
              value="Salud"
              onclick="javascript:insuranceTypeCheck('hi');">
      Salud <i class="fa fa-hospital-o" aria-hidden="true"></i>
    </label>
    <label class="checkbox-inline" id="ci_check_label" style="width:35%; margin-left:0;">
      <input  type="checkbox"
              id="ci_check"
              name="request[]"
              value="Automóvil"
              onclick="javascript:insuranceTypeCheck('ci');">
      Automóvil <i class="fa fa-car" aria-hidden="true"></i>
    </label>
    <label class="checkbox-inline" id="fi_check_label" style="width:35%; margin-left:0;">
      <input  type="checkbox"
              id="fi_check"
              name="request[]"
              value="Incendio"
              onclick="javascript:insuranceTypeCheck('fi');">
      Incendio <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
    </label>
    <label class="checkbox-inline" id="li_check_label" style="width:35%; margin-left:0;">
      <input  type="checkbox"
              id="li_check"
              name="request[]"
              value="Vida"
              onclick="javascript:insuranceTypeCheck('li');">
      Vida <i class="fa fa-heart-o" aria-hidden="true"></i>
    </label>
	</div>
</div><!-- TIPO DE SEGURO -->
<br>