<!-- ABOUT -->
<div id="masseguro-aboutus" class="gtco-section out-of-spa">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center gtco-heading">
        <h2 style="font-size:60px;">Sobre Nosotros</h2>
        <p style="text-align:justify">Somos una empresa que busca cambiar la experiencia de los seguros,
          facilitando su contratación a través de unos pocos clicks. Nuestra misión es poner al
          usuario en contacto con un agente asegurador en tiempo record. Velando por la
          eficiencia y la comodidad del asegurado.</p>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-3 text-center">
        <span style="font-size:100px"><i class="fa fa-hospital-o" aria-hidden="true" style="font-size:100%; color:#F85A16;"></i></span>
      </div>
      <div class="col-md-3 text-center">
        <span style="font-size:100px"><i class="fa fa-car" aria-hidden="true" style="font-size:100%; color:#F85A16;"></i></span>
      </div>
      <div class="col-md-3 text-center">
        <span style="font-size:100px"><i class="fa fa-fire-extinguisher" aria-hidden="true" style="font-size:100%; color:#F85A16;"></i><span>
      </div>
      <div class="col-md-3 text-center">
        <span style="font-size:100px"><i class="fa fa-heart-o" aria-hidden="true" style="font-size:100%; color:#F85A16;"></i><span>
      </div>
    </div>
  </div>
</div><!-- ABOUT -->


<!-- FAQ -->
<div id="masseguro-faq" class="gtco-section">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>Preguntas Frecuentes</h2>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-6">
        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>¿+Seguro es una empresa aseguradora?</h3>
            <p>No, somos una empresa encargada de hacer el servicio al usuario con un pool de corredores dispuestos a darte el mejor servicio</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>¿Que pólizas se pueden adquirir?</h3>
            <p>Para automóviles, inmuebles, vida y salud</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>¿Cuándo debo presentar mis reclamos?</h3>
            <p>Tan pronto como suceda el inconveniente a través de nuestro portal. Así pondremos a trabajar a nuestro equipo para solucionar sus inconvenientes y mejorar día a día nuestro servicio</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>¿Cómo se cotizan los seguros a tráves de +Seguro?</h3>
            <p>Luego de enviar el formulario con tus datos, un corredor se comunicará inmediatamente contigo para darte las opciones que se ajusten a tus necesidades</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>¿Luego de adquirir la poliza ¿quien me dará respaldo a la hora de un siniestro?</h3>
            <p>Nuestro equipo te acompañara en el tramite con la empresa aseguradora del paquete que hayas escogido</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>¿Cuál es el horario de atención de +Seguro?</h3>
            <p>Al ser una plataforma 100% digital te podemos atender en cualquier momento del día</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- FAQ -->

<!-- TERMINOS Y CONDICIONES -->
<div class="gtco-section" style="padding:0">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center gtco-heading">
        <h2><%= link_to 'Términos y Condiciones', terminos_y_condiciones_path, class: 'btn btn-primary btn-lg', target: 'blank' %></h2>
      </div>
    </div>
  </div>
</div><!-- TERMINOS Y CONDICIONES -->

<!-- Separador
<div class="gtco-cover gtco-cover-sm" style="background-image:url(http://res.cloudinary.com/merchanj/image/upload/v1505012530/esmasseguro/images/header.png)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Nice &amp; Simple</h1>
						<h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
