<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(images/img_bg_1.jpg);">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Seguros de Automóviles</h1><h2></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-6 animate-box">
				<h3>Solicitud de seguro</h3>
        
        <form accept-charset="UTF-8" action="/insurance_requests" class="new_person" id="new_person" method="post">
          <input type="hidden" name="insurance_request[insurance_type]" class="form-control" value="Automovil">

					<div class="row form-group">
						<div class="col-md-6">
							<label for="fname">Nombre</label>
							<input type="text" name="insurance_request[name]" class="form-control" placeholder="Your firstname">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="message">Mensaje</label>
							<textarea name="insurance_request[message]" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
						</div>
					</div>

					<div class="form-group">
						<input type="submit" value="Send Message" class="btn btn-primary">
					</div>

				</form>
			</div>
		</div>

	</div>
</div>
