<!-- TERMINOS -->
<div id="masseguro-why" class="gtco-section out-of-spa">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center gtco-heading">
        <h2>Términos y Condiciones de +Seguro</h2>
        <p style="text-align:justify">En esta página se describen las condiciones legales aplicables a todos los usuarios de
            Internet que accedan a este sitio web. Al visitar este Sitio web usted acepta cumplir estas condiciones sin reservas.
            Le aconsejamos consultar regularmente estas condiciones, ya que pueden ser modificadas sin previo aviso.</p>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-12">
        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>Propiedad intelectual</h3>
            <p>Este sitio Web está gestionado y es propiedad de "Es Más Seguro, S.A". La presentación y
                todos los elementos, incluyendo marcas, logotipos y nombres de dominio, expuestos en
                el sitio www.esmasseguro.com (en adelante &quot;sitio web&quot;) están protegidos por las leyes
                de Propiedad Intelectual y son propiedad de "Es Más Seguro" o han recibido una
                autorización de utilización.
                El material procedente del Sitio web no podrá ser copiado, reproducido, modificado,
                publicado de nuevo, cargado, manipulado, transmitido o distribuido de modo alguno, en
                ningún soporte, total o parcialmente, sin el consentimiento previo por escrito de mas
                Seguro, salvo una copia de los materiales que usted podrá almacenar en su ordenador
                personal para uso privado, sin fines comerciales, respetando todos los derechos de
                propiedad intelectual y cualquier otro derecho que se pudiera mencionar. En todas las
                copias del contenido total o parcial del Sitio Web, deberá figurar la siguiente frase:
                &quot;COPYRIGHT © 2017 (Es Más Seguro S.A.)– TODOS LOS DERECHOS RESERVADOS&quot;.</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>Política de Privacidad</h3>
            <p>1. "Es Más Seguro" tratará los datos personales que Usted nos facilite como confidenciales.
                Por lo cual Es Más Seguro no venderá, alquilará, compartirá, distribuirá u ofrecerá de otra
                manera sus datos a terceros fuera del grupo de empresas aliadas que probeen los
                seguros, a no ser que deba hacerlo por motivos legales o reglamentarios. Sin embargo,
                los datos ocasionalmente podrán ser transferidos a terceros que actúan para o en
                representación de "Es Más Seguro", para el procesamiento conforme a las finalidades para
                los que los datos habían sido recogidos.<br><br>

                2. El sitio web no está destinado a recibir ninguna información confidencial que usted
                pueda presentar. Por lo tanto, y con la excepción de los datos personales
                anteriormente subrayados, toda la información, independientemente de su forma:
                documentos, datos, gráficos, preguntas, sugerencias, conceptos, notas u otros, que
                usted comunique al sitio web en modo alguno será considerada como confidencial. En
                consecuencia, el simple hecho de que nos transmita dicha información nos otorga el
                derecho a utilizar, reproducir o modificar dicha información, con la finalidad de procesar
                su solicitud.<br><br>

                Para la utilización de nuestro sitio web es necesaria la utilización de cookies. Las
                cookies se utilizan con la finalidad de facilitar la navegación y ofrecer un servicio
                personalizado y más ágil así como una herramienta estadística para obtener datos
                estadísticos del uso de la web. En ningún caso se utilizan para almacenar información
                que pueda identificar al Usuario. Para más información, consulte nuestra Política de
                Cookies(link externo).</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>Exclusión de responsabilidadades</h3>
            <p>"Es Más Seguro" realiza los máximos esfuerzos para garantizar lo mejor posible la exactitud
                y actualización de la información difundida en el sitio web, cuyo contenido la compañía
                se reserva el derecho de modificar en cualquier momento y sin previo aviso. Sin
                embargo, "Es Más Seguro" no puede garantizar plenamente la exactitud, precisión,
                actualización o exhaustividad de la información disponible en el sitio web.
                En consecuencia, y excepto el daño directo producido por una mala conducta
                intencionada o grave negligencia por parte de "Es Más Seguro", éste último no se hace
                responsable de:
                <ul>
                  <li><p>Cualquier imprecisión, inexactitud u omisión relativa a la información
                  suministrada en el sitio web.</p></li>

                  <li><p>Cualquier daño resultante de la intrusión fraudulenta de un tercero que
                  modifique la información o los materiales suministrados en el sitio web.</p></li>

                  <li><p>De un modo más general, cualquier daño directo o indirecto,
                  independientemente de su causa, origen, naturaleza o consecuencias, incluso
                  aunque "Es Más Seguro" supiera que dicho daño era previsible, producido como
                  resultado de (i) el acceso o la imposibilidad de acceder al sitio web, (ii) la
                  utilización del sitio web, incluyendo cualquier daño o virus que pueda infectar
                  su ordenador o cualquier otro producto, y/o (iii) la credibilidad otorgada a
                  cualquier información suministrada directa o indirectamente en el Sitio Web.
                  Los materiales del sitio web y todos los otros sitios web se suministran &quot;tal
                  cual&quot;, sin ningún tipo de garantía, expresa o supuesta. "Es Más Seguro" no ofrece
                  ninguna garantía expresa o supuesta sin limitación a su comerciabilidad e
                  idoneidad para fines particulares.</p></li>

                  <li><p>No se hace responsabe por siniestros, o reembolsos, pagos etc. Ya que "Es Más
                  Seguro" no es una empresa aseguradora.</p></li>

                  <li><p>De fraudes con tarjetas ya que "Es Más Seguro" es un intermediario y no utiliza el
                  dinero de los clientes.</p></li>
                </ul>
              </p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>Editor del Sitio Web</h3>
            <p><a href="http://labequis.com">LabEquis</a></p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>Hospedaje del Sitio Internet</h3>
            <p>Heroku & EcoWebHosting</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="fa fa-check icon-check" aria-hidden="true"></i>
          </span>
          <div class="feature-copy">
            <h3>Créditos</h3>
            <p>Salvo indicación expresa en otro sentido, cualquier vídeo, imagen o material multimedia
                de todo tipo hospedado en este sitio web es propiedad de "Es Más Seguro", o "Es Más Seguro"
                ha obtenido la autorización para su utilización.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- TERMINOS -->
