<header id="gtco-header" class="gtco-cover" role="banner">
	<!--<div class="overlay"></div>-->
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<p>

							<a href="#" id="test" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#testModal">GET</a>
              <a href="#" id="test" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#testModal">POST</a>
            </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>