<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(http://res.cloudinary.com/merchanj/image/upload/v1505012530/esmasseguro/images/header.png)">
	<!--<div class="overlay"></div>-->
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn" id="bot-content-complaint">
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<%= render 'pages/modals' %>