<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Nueva solicitud de seguro de <%= @request.insurance_type %>
    </h1>

    <h3>Nombre del cliente: <%= @request.name %></h3>
    
    <p><%= @request.message %></p>
  </body>
</html>
