<footer id="gtco-footer" role="contentinfo">
	<div class="gtco-container">
		<div class="row row-pb-md text-center">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="gtco-footer-links">
					<li><a href="#">Seguros de Automóviles</a></li>
          <li><a href="#">Seguros por Incendios</a></li>
				</ul>
			</div>

      <div class="clearfix visible-xs-block"></div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="gtco-footer-links">
          <li><a href="#">Seguros de Vida</a></li>
					<li><a href="#">Acerca de Nosotros</a></li>
				</ul>
			</div>

			<div class="clearfix visible-xs-block"></div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="gtco-footer-links">
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Ayuda</a></li>
				</ul>
			</div>
		</div>

		<div class="row copyright">
			<div class="col-md-12">
				<p class="pull-left">
					<small class="block">&copy; 2017 Es +Seguro. Todos los derechos reservados.</small>
					<small class="block">Desarrolado por <a href="http://www.labequis.com/" target="_blank">LabEquis</a></small>
				</p>
				<p class="pull-right">
					<ul class="gtco-social-icons pull-right">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</p>
			</div>
		</div>

	</div>
</footer>
