<!-- TERMINOS -->
<div class="form-group row col-md-10 col-md-offset-0" style="float:none; text-align:justify">
  <div class="col-md-12">
    <p>Al enviar este formulario usted estará aceptando nuestros <%= link_to 'Términos y Condiciones', terminos_y_condiciones_path, target: "_blank" %>.<br>Recomendamos que los lea antes de proceder.</p>
  </div>
</div><!-- TERMINOS -->
